/*InvisiClues.css v2.2*/
:root {
	/* Layout */
	--width: 40rem;
	--label-width: 2.48rem;
	--cell-border: 1px;
	--row-gap: 0.45rem;
	
	/* Typography */
	--mono: "Source Code Pro", ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Fira Mono", "Droid Sans Mono", "Liberation Mono", monospace;
	--sans: "Source Sans 3", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Oxygen, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--normal-weight: 400;
	--bold-weight: 600;
	
	/* Colors */
	--bg-color: #FAFAEF;
	--fg-color: #000;
	--link-color: #000;
	--visited-link-color: #000;
	
	/* UI metrics */
	--link-underline-height: 0.14rem;
	--line-outline-width: 0.1rem;
	
	/* Global behaviors */	
	cursor: default;
	overflow-wrap: break-word;
	tab-size: 4;
	-moz-tab-size: 4;	
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio, pre):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

html {
	box-sizing: border-box;
	background-repeat: no-repeat;
	scroll-behavior: auto;
		
	font-family: var(--sans);
	font-weight: var(--normal-weight);
	font-size: 17px;
	vertical-align: baseline;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	margin: auto;
	background-color: var(--bg-color);
	color: var(--fg-color);
	line-height: 1.5;	
	text-indent: 0;
}

*, ::before, ::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	vertical-align: inherit;
	background-color: transparent;
	color: inherit;
}

a {
	text-decoration: none;
	border-bottom: dotted var(--link-underline-height);
	cursor: revert;
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--visited-link-color);
}

a:focus { 
	outline: none; 
}

a:focus-visible {
	outline: var(--line-outline-width) solid;
	outline-offset: var(--line-outline-width);
	border-bottom-color: transparent;
}

ol, ul, menu {
	list-style: none;
}

ul.indented {
	padding-left: 1em;
}

li {
	font-size: 1.1rem;
}

li+li {
	margin-top: 0.5rem;
}

h1.title {
	font-size: 3rem;
	margin: 2rem 0 1rem;
	text-align: center;
}

h1 {
	font-size: 1.7rem;
	font-weight: var(--bold-weight);
	line-height: 1.07;
	margin-bottom: 1rem;
}

h2 {
	margin: 1rem 0;
	font-size: 1.6rem;
	font-weight: 700;
}

.header h2 {
	margin-top: 1rem;
}

h3, h5 {
	font-size: 1.1rem;
	font-weight: var(--bold-weight);
}

h4 {
	font-size: 0.9rem;
	font-weight: var(--bold-weight);
	margin: -1.5em 0 1em;
	text-align: justify;
}

.question h4 {
	margin-top: -0.4em;
	width: 100%;
}

p {
	text-align: justify;
	margin-bottom: 1rem;
}

em {
	font-weight: bold;
}

.upper {
	text-transform: uppercase;
}

main, .topNav select {
	max-width: var(--width);
	width: 90%;			
	margin: auto;
}

main {
	padding: 2em 0;
}

div.toc {
	margin-bottom: 2rem;
}

.header img {
	float: left;
	margin-right: 2em;
	max-width: 188px;
	width: 30%;
}

.header::after {
	content: "";
	clear: both;
	display: table;
}

img.sectionImg {
	display: block;
	width: 100%;
	margin: 1rem 0;
	padding: 0;
}

.question {
	max-width: var(--width);
	margin: 1rem auto;
	padding-bottom: 1em;
}

.answers {
	width: 100%;
	margin-top: var(--row-gap);
}

.answers.title {
	font-weight: var(--bold-weight);
}

.answers.title .answer-label {
	text-align: left;
}

.answers.offset {
	margin-left: calc(-1 * var(--label-width));
	width: calc(100% + var(--label-width));
}

div.answer-row {
	display: flex;
	cursor: pointer;
	width: 100%;
	margin: var(--row-gap) 0;
}

.answers.no-padding div.answer-row {
	margin:0
}

.answers.no-padding div.answer-row + div.answer-row {
	margin-top: calc(-1 * var(--cell-border));
}

div.answer-row:hover .answer-cell {
	background-color: lightyellow;
}

.answer-label {
	flex: 0 0 var(--label-width); 
	white-space: nowrap;
	
	font-family: var(--mono);
	font-weight: 700;	
	text-align: right;
	
	padding-right: 0.5em;
}
.answer-cell {
	flex: 1 1 auto;
	min-width: 0;
	padding: 0 0.5em;
	border: var(--cell-border) solid #000;
}

.answer {
	display: block;
	text-align: justify;
	color: darkblue;
}

.gap {
	font-size: 0.25em;
}

.answer-header {
	display: flex;
	font-weight: var(--bold-weight);
}

.answer-header .answer-cell {
	border: none;
}


.answer-col {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding-right: 0.5em;
}

.answer-header .answer-col {
	vertical-align: bottom; 
}

.top {
	position: fixed;
	right: 20px;
	bottom: 20px;   
	
	width: 45px;
	aspect-ratio: 1;
	
	display: block;
	opacity: 0;
	cursor: default;
	transition: opacity 0.5s ease-out;

	background: #134F8F;
	border-radius:10px;
}

.top.visible {
	opacity: 1;
	cursor: pointer;
}

.top::before {
	content: "";
	position: absolute;
	inset: 30%;
	transform: translateY(20%) rotate(-45deg);
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
}

.topNav {
	position: fixed;
	width: 100%;
	display: none;

	background-color: #134F8F;
	padding: 1em;
}

.topNav select {
	display: block;
	width: 100%;
	
	padding: 0.375rem 2rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	
	color: #fff;
	background-color: transparent;
	
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	
	border: 0.1em solid currentColor;
	border-radius: 0.75em;
	appearance: none;	
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}
.topNav select option, .topNav select optgroup {
	color: #000;
}
body.hasNavBar .topNav {
	display: block;
}
body.hasNavBar h1, body.hasNavBar h2 {
	scroll-margin-top: 5rem;
}
body.hasNavBar main {
	padding-top: 5em;
}